.empty-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.go-home-anchor {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 1rem;
  background-color: white;
  color: var(--secondary-color);
  &:hover {
    opacity: 80%;
  }
}
