.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: black;
  font-weight: bold;

  &:has(input[data-mobile-search-open="true"]) {
    a {
      display: none;
    }

    .header__search-nav-button {
      display: none;
    }
  }

  a,
  button {
    color: white;
  }

  &__search-nav-button {
    color: white;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__nav {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo-text {
      font-size: 1.5rem;
      font-weight: bold;

      @media (max-width: 979px) {
        display: none;
      }
    }

    &-link-container {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    &-link {
      display: flex;
      gap: 0.75rem;
      padding-block: 0.5rem;
      align-items: center;
      &:hover {
        opacity: var(--hover-opacity);
      }
      &--active {
        border-bottom: 2px solid white;
      }
      @media (max-width: 979px) {
        span {
          display: none;
        }
      }
    }
  }

  &__search-input {
    background: inherit;
    outline: none;
    border: none;
    width: 100%;
    color: white;
  }

  &__search-container {
    width: 100%;
    gap: 1rem;
    display: flex;
    align-items: center;
    max-width: 400px;
    padding: 0.5rem 1rem;
    background: inherit;
    border: white 1px solid;
    border-radius: 0.5rem;
    outline: none;

    @media (max-width: 768px) {
      &:has(input[data-mobile-search-open="false"]) {
        display: none;
      }
      &:has(input[data-mobile-search-open="true"]) {
        display: flex;
        background: black;
        max-width: auto;
        z-index: 100;
      }
    }

    &:focus-within {
      outline: 2px solid white;
    }
  }
}
