// @Todo: fix forwardRef for this to be an actual dialog with a backdrop
// and activated with .showModal() and closed with .close()
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.trailer-dialog {
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__header {
    display: flex;
    justify-content: end;
  }
  &__close-button {
    background-color: transparent;
    border: none;
  }
}
