#root {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      0deg,
      var(--primary-color),
      var(--secondary-color)
    )
    no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--header-height);
  min-height: 100vh;
  width: 100%;
}
