#root {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      0deg,
      var(--primary-color) 20%,
      var(--secondary-color) 100%
    )
    no-repeat;
}

.main {
  height: 100%;
  padding-top: calc(var(--header-height) * 2);
  background: inherit;
}

.empty-state {
  text-align: center;
}
