#root {
  color: white;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      0deg,
      var(--primary-color) 20%,
      var(--secondary-color) 100%
    )
    no-repeat;
}

.main {
  padding: var(--header-height);
  min-height: 100vh;
}

.empty-state {
  text-align: center;
}
