.movie-card {
  width: min-content;
  border: none;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  &__image {
    width: 240px;
  }

  &__title-container {
    text-align: center;
  }

  &__title {
    font-weight: bold;
    margin-block: 1rem;
  }

  &__actions {
    display: flex;
    margin-top: auto;
    bottom: 0;
    color: white;

    button {
      flex: 1;
      padding-block: 0.5rem;
      border-top: solid 1px white;
      &:first-of-type {
        border-right: solid 1px white;
      }
    }
  }
}
