.movie-card {
  width: min-content;
  border: none;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  &__image {
    width: 240px;
  }

  &__title-container {
    text-align: center;
  }

  &__title {
    font-weight: bold;
    margin-block: 1rem;
  }

  &__actions {
    display: flex;
    margin-top: auto;
    bottom: 0;

    button {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      padding-block: 0.5rem;
      &:hover {
        opacity: 80%;
      }
    }
  }
}
