.movie-card {
  background-color: white;
  width: 180px;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.movie-card__image {
  width: 160px;
  height: 240px;
}

.movie-card__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.movie-card__title {
  color: black;
}

.movie-card__actions {
  margin-top: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
